/* colour palette:
color:#d5f5e3; = mint
color:#2874a6; = dark blue
color:#aed6f1; = light blue
color:#f1948a; = pink
color:#f1948aa6; = dark pink (hover)
color:#fcf3cf; = sand
color:#117a65; = dark green */

/*
#fcf3cf = sand
#fffd98 = yellow
#bde4a7 = light green (no)
#355e1d = dark green
#b3d2b2 = sage
#9fbbcc = light blue
#7a9cc6 = dark blue (no)
#253b56 = dark blue 2
#ffffffe3  = off white
#000000 = black
*/

/* colour palette:
color:#f2e5d3; = Champagne (Background/ White)
color:#e07d45; = Marmalade
color:#6f927f; = Cactus Green
color:#658875; = Darker Cactus Green
color:#a96255; = Desert Rose
color:#f6bc8c; = Apricot (Light Orange)
color:#b0522a; = Terracotta (Darkest Orange)
color:#333333; = Dark Grey (Instead of Black?) */

  
body {
    background-color: #f2e5d3;
    margin-top: 10em;
  }

  
  /* Font */
  body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: <500>;
    font-style: normal; }
  
/* Banner */

  .banner {
  background-color: #6f927f;
  padding: 1px 1px;
  display: flex;
  align-items: center; 
  }

.banner h1 {
    color: #ffffffe3; text-align: center; font-size: 350%
    position: relative; /* Relative positioning */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    width: 100%; /* Full width */
    padding: 10px 20px; /* Padding for banner */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* Ensure it stays above other content */
}
  
/* Banner buttons */

.banner {
  display: flex;
    justify-content: space-around;
    align-items: center;
}

  .header_link {
    display: inline-block;
      padding: 10px 20px;
      color: #f2e5d3;
      text-decoration: none;
      border-radius: 5px;
      font-size: 2em;
      margin-top: 1em;
      margin-left: 1em;
    }

    .header_link:hover {
      color: #658875 !important;
    }
    
  
/* Fix Content */
#top-element {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Contact number banner */
  .promotional-banner {
    background-color: #f6bc8c;
    color: #e07d45 !important;
    text-align: center;
    padding: 10px 0;
    font-weight: 700 !important;
    font-size: 18px;
  }
  
  .promotional-banner p {
    margin: 0;
  }

/* logo */

.logo_transparent {
width: 200px;
height: auto;
margin-right: 20px;
padding: 10px 20px;
}

/* Title header */

.fox_header_container img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: flex;
}

.title_overlay {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: #b0522a;
  font-weight: bold;
  padding: 10px;
  font-size: 300%;
} 

.para_overlay {
  position: absolute;
  top: 55%;
  left: 15.5%;
  transform: translate(-50%, -50%);
  color: #f2e5d3;
  padding: 10px;
  font-size: 100%;
} 

.fox_header_container a {
  position: absolute;
  top: 65%;
  left: 7.5%;
  transform: translate(-50%, -50%);
  color: #f2e5d3;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px;
  font-size: 100%;
}

.rectangle {
  width: 100px;
  height: 350px;
  background: linear-gradient(to top, #f6bc8c, #f2e5d3);
  border: 2px solid #f2e5d3;
  margin: 20px;
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  font-size: 100%;
}
.rectangle2 {
  width: 100px;
  height: 350px;
  background: linear-gradient(to top, #f6bc8c, #f2e5d3);
  border: 2px solid #f2e5d3;
  margin: 20px;
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  font-size: 100%;
}
.circle {
  width: 90px; 
  height: 90px; 
  background-color: #6f927f; 
  border-radius: 50%; 
  position: absolute; 
  top: 40%; 
  left: 66.5%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
}
.circle2 {
  width: 90px; 
  height: 90px; 
  background-color: #6f927f; 
  border-radius: 50%; 
  position: absolute; 
  top: 40%; 
  left: 81.5%; 
  transform: translate(-50%, -50%); 
  z-index: 2;
}

.amazon_logo {
  width: 50px; 
  height: auto;  
  position: absolute; 
  top: 40%; 
  left: 81.5%; 
  transform: translate(-50%, -50%); 
  z-index: 100;
}

.amazon_text { 
  position: absolute; 
  top: 80%; 
  left: 78.75%; 
  transform: translate(-50%, -50%); 
  z-index: 100;
  color: #f2e5d3;
  transform: rotate(270deg);
  transform-origin: left top;
}

.channel4 {
  width: 100px;
  height: auto;
  position: absolute;
  top: 35%; 
  left: 62.5%; 
  z-index: 200;
}

.circle:hover {
  background-color: #b0522a;
}

.circle2:hover {
  background-color: #b0522a;
}

.channel4_text { 
  position: absolute; 
  top: 80%; 
  left: 63.5%; 
  transform: translate(-50%, -50%); 
  z-index: 100;
  color: #f2e5d3;
  transform: rotate(270deg);
  transform-origin: left top;
}

/* Footer */

.footer_banner {
background-color: #6f927f;
padding: 1px 1px;
display: flex;
align-items: center; 
}

.footer_banner_content {
color: #ffffffe3; text-align: center; font-size: 350%
position: relative; /* Relative positioning */
top: 0; /* Position at the top */
left: 0; /* Position at the left */
width: 100%; /* Full width */
padding: 10px 20px; /* Padding for banner */
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000; /* Ensure it stays above other content */
}

.banner_newsletter button:hover {
background-color: #b3d2b2;
}

.main_content {
color: #000000;
}

.main_content h1 {
font-style: bold;
}

.container_whoweare {
max-width: 800px;
margin-left: 20px;
padding-bottom: 20px;
}

.container_whatwedo {
margin-left: 20px;
margin-right: 20px;
padding-top: 20px;
color: #f2e5d3;
}

.image_container {
display: flex;
justify-content: space-between;
align-items: center; 
max-width: 100%;
}

.image_container img {
width: 200px;
height: 200px;
object-fit: cover;
border: 5px solid #f2e5d3;
position: relative;
}

.image_container figcaption {
text-align: center;
font-size: 20px;
color: #f2e5d3;
}

/* Footer */
.footer {
  background-color: #6f927f;
  color: white;
  padding: 20px 0;
}

.footer h5, .footer p {
  color: #f2e5d3;  /* Champagne color */
}

.footer .form-group {
  margin-bottom: 10px;
}

.footer .btn-subscribe {
  background-color: #f6bc8c;
  color: #e07d45;
  border: none;
  cursor: pointer;
}

.footer .btn-subscribe:hover {
  background-color: #e07d45;
  color: #f2e5d3;
}

/* logo */

.logo_transparent {
  width: 200px;
  height: auto;
  margin-right: 10px;
  padding: 10px 20px;
  }

  /* donations banner */
  .banner_donations {
    background-color: #a96255;

  }


  /* CONTACT US CSS */

  /* Get in Touch */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Layout */
.get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2e5d3;
}

.container {
  width: 66.67%; /* 2/3 of the screen */
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 1;
  padding: 20px;
}

.col-2 {
  flex: 2;
  padding: 20px;
}

/* Typography */
h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333333; /* Dark Grey (Instead of Black?) */
}

p {
  font-weight: 300;
  font-size: 14px;
  color: #333333; /* Dark Grey (Instead of Black?) */
  margin-bottom: 20px;
}

a {
  color: #e07d45;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style inputs with type="text", type="email", select elements, and textareas */
input[type=text], input[type=email], select, textarea {
  color: #f2e5d3;
  font-family: 'Montserrat', sans-serif;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #f2e5d3; /* champagne border */
  background-color: #a96255; /* Desert Rose */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Placeholder text color */
input[type=text]::placeholder, input[type=email]::placeholder, textarea::placeholder {
  color: #f2e5d3; /* Champagne */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a96255;
  color: #f2e5d3;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, colors are opposite */
input[type=submit]:hover {
  background-color: #f2e5d3;
  border: 1.5px solid #a96255;
  color: #a96255;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* meet the team images */
.sue_img {
  width: auto;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #b0522a;
  background: url('Images/sue.webp') no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;
}

.tom_img {
  width: auto;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #b0522a;
  background: url('Images/tom.jpeg') no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;
}